<div layout="column" flex-gt-lg="70" flex-gt-md="80" flex-gt-sm="90">
    <md-card >
        <md-card-content>
            <h2>New Template</h2>

            <div>
                <div>
                    <md-input-container aria-label="Template name" flex>
                        <label>Template name</label>
                        <input ng-model="templateName">
                    </md-input-container>
                </div>

                <div>
                    <md-input-container aria-label="Template description" flex>
                        <label>Template description</label>
                        <textarea ng-model="templateDescription" columns="1" md-maxlength="250"></textarea>
                    </md-input-container>
                </div>

                <div>
                    <md-checkbox ng-model="isPrivate" aria-label="Private">
                        Private
                    </md-checkbox>
                </div>

                <div>
                    <input id="selectFile" type="file" on-read-file="onFileSelected($fileContent)"
                           class="selectTemplateFile">

                    <md-button>
                        <label for="selectFile">Select file</label>
                    </md-button>
                </div>

                <div>
                    <md-button aria-label="Create template" ng-click="createTemplate()"
                               class="md-raised">Create template</md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-content>
            <div>
                <template-preview tasks="selectedTasks"></template-preview>
            </div>
        </md-card-content>
    </md-card>
</div>